{% extends 'base.html' %}
{% block content %}
<h1>User</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Full Name</th>
            <th>Jabatan</th>
            <th>Username</th>
            <th>Penyedia Jasa</th><!-- konsultan SUpervisi/Kontraktor-->
        </tr>
    </thead>
    <tbody>
        {% for user in ctx.users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.fullname }}</td>
            <td></td>
            <td>{{ user.username }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}