{% extends 'base.html' %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <h1 class="display-5 fw-bold">Daftar Perusahaan</h1>
    <p class="col-md-8 fs-4">Berikut adalah daftar perusahaan yang terdaftar di sistem.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama Perusahaan</th>
                <th scope="col">Banyak Personil</th>
            </tr>
        </thead>
        <tbody>
            {% for p in perusahaan_list %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nama }}</td>
                <td>{{ p.user_set|count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}