{% extends 'base.html' %}
{%- block content %}
<p><a href="/proyek/{{ ctx.task.proyek_id }}">{{ ctx.task.proyek.nama }}</a></p>
<div>
<small class="d-inline-flex badge fw-normal text-secondary bg-success-subtle px-2 py-1">PEKERJAAN</small>
<h2 class="mt-3">{{ ctx.task.uraian }}</h2>
<p>Bobot</p>
<p>Durasi Pekerjaan</p>
<p>Mulai</p>
</div>
<h3>Ringkasan Kemajuan</h3>
<h3>Realisasi</h3>
<table class="table">
    <tbody>
    {{ ctx.task.realisasi }}
    </tbody>
</table>

<h3>Rencana</h3>
<table class="table">
    <tbody>
    {{ ctx.task.rencana }}
    </tbody>
</table>
<h3>Action Plan</h3>
<table class="table">
    <tbody>
    </tbody>
</table>
{% endblock %}