{% extends 'base.html' %}

{% block content %}
  <h1>Daftar Kehadiran</h1>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Tanggal</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for kehadiran in kehadiran_list %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ kehadiran.nama }}</td>
        <td>{{ kehadiran.tanggal }}</td>
        <td>{{ kehadiran.status }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">Tidak ada data kehadiran.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}